# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Lib
/node_modules
/Scripts

# 
pip-selfcheck.json

pyvenv.cfg
/mysite/mysite/settings.py

#References
LICENSE.txt
mysite/NOTICE.txt

# production
/build
