<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../static/polls/styles.css">
</head>

<body>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script>
    const chart = LightweightCharts.createChart(document.body, { 
        width: 600,
        height: 300,
        localization: {
            //locale: 'en-UK',
            //dateFormat: 'dd/mm/yyyy',
        }, 
        layout: {
            // backgroundColor: '#FAEBD7',
            // textColor: '#696969',
            textColor: '#d1d4dc',
		    backgroundColor: '#000000',
            fontSize: 12,
            fontFamily: 'Calibri',
        },
        priceScale: {
           scaleMargins: {
                top: 0.2,
                bottom: 0.2, 
            },
        },
        timeScale: {
            timeVisible: true,
            // secondsVisible: false,
            fixLeftEdge: true,
            lockVisibleTimeRangeOnResize: true,
            // tickMarkFormatter: (time) => {
			// 	const date = new Date(time.year, time.month, time.day);
			// 	return date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate();
			// },
        },
        // watermark: {
		// visible: true,
		// fontSize: 24,
		// horzAlign: 'center',
		// vertAlign: 'center',
		// color: 'rgba(38, 97, 255, 0.5)',
		// text: 'Future Forex',
	    // },
    });

    chart.timeScale().fitContent(); //  Fits the Chart to the width of the graph.

    const lineSeriesValr = chart.addLineSeries({
        // title: 'Valr Demo',      
        color: 'rgba(255, 105,180, 0.56)',   
        lastValueVisible: false,          
    });

    const lineSeriesLuno = chart.addLineSeries({
        // title: 'Luno Demo',
        color: 'rgba(38, 198, 218, 0.56)',
        lastValueVisible: false,
    });

    // const lineSeries3 = chart.addLineSeries({
    //     title: 'Altcoin Demo',
    //     //color: '#42f54',   
    //     visible: false,         
    // });

    // ***** PARSING A DATE *****
    var datesFromAPI = [
    new Date("2019-04-30T13:30:01Z"),   
    new Date("2019-04-30T13:35:31Z"),   
    new Date("2019-04-30T13:40:01Z"),   
    new Date("2019-04-30T13:45:31Z"),   
    new Date("2019-05-01T14:30:01Z"),   
    new Date("2019-05-01T14:35:31Z"),
        ];   
    var timestamps = []

    const msSinceEpoch = (new Date()).getTime();    // Outputs the current date as a timestamp.
        //const currentDate = Date.now(); 
    //console.log(msSinceEpoch)

    // ***** CONVERT DATE FROM ISO FORMAT INTO UNIX TIMESTAMP FORMAT.    
    function transformDatesToTimestamp(dates) {
        for(var i in dates){
            timestamps.push(dates[i].getTime() / 1000);
        }        
    }

    // console.log(datesFromAPI)
    // console.log("-----")
    // console.log(transformDatesToTimestamp(datesFromAPI));
    // console.log("-----")
    // console.log(timestamps)

    // Convert yyyy-mm-dd to unix Timestamp
    // var cur = Math.round(new Date().getTime()/1000);

    // NOTE: You can't use timestamp in combination with 'yyyy-mm-dd' format when setting data.
    // NOTE: Date needs to be in one of three forms: 
        // 1. UNIX timestamp: const timestamp = 1529884800; // June 25, 2018
        // 2. Business day object: const day = { year: 2019, month: 6, day: 1 }; // June 1, 2019
        // 3. Business day string: const timestamp = '2018-06-25'; // June 25, 2018

    lineSeriesValr.setData([
        { time: timestamps[0], value: 4.38 },
        { time: timestamps[1], value: 4.27 },
        { time: timestamps[2], value: 4.44 },
        { time: timestamps[3], value: 1.5 },
        { time: timestamps[4], value: 2.1 },
        { time: timestamps[5], value: 3.4 },
    ]);

    lineSeriesLuno.setData([
        { time: timestamps[0], value: 4.28 },
        { time: timestamps[1], value: 4.17 },
        { time: timestamps[2], value: 4.84 },
        { time: timestamps[3], value: 4.15 },
        { time: timestamps[4], value: 4.2 },
        { time: timestamps[5], value: 3.8 },
    ]);

    document.body.style.position = 'relative';

    // Create a legend to display the lineseries titles, their margins and the date.
    var legend = document.createElement('div');
    legend.classList.add('legend');
    document.body.appendChild(legend);

    var firstRowValr = document.createElement('div');
    firstRowValr.style.color = 'rgba(255, 105,180, 0.9)';
    const titleValr = 'BTC VALR';
    legend.appendChild(firstRowValr);

    var secondRowLuno = document.createElement('div');
    secondRowLuno.style.color = 'rgba(38, 198, 218, 0.9)';
    const titleLuno = 'BTC LUNO';
    legend.appendChild(secondRowLuno);

    chart.subscribeCrosshairMove((param) => {
	if (param.time) {
		const priceValr = param.seriesPrices.get(lineSeriesValr);
		firstRowValr.innerText = titleValr + '  ' + priceValr.toFixed(2);

        const priceLuno = param.seriesPrices.get(lineSeriesLuno);
		secondRowLuno.innerText = titleLuno + '  ' + priceLuno.toFixed(2);
	}
    else {
        firstRowValr.innerText = titleValr;
        secondRowLuno.innerText = titleLuno;
    }
});

</script>
</body>
</html>